---
import Default from '../layouts/default.astro'
---
<Default>
  <article class="col-xs-12">
    <h3>Información de contacto:</h3>
    <p>Correo de contacto del Artista: <a href="mailto:gerlop1951@gmail.com">gerlop1951@gmail.com</a></p>
    <p>Correo de contacto del Desarrollador: <a href="mailto:lopezchr@gmail.com">lopezchr@gmail.com</a></p>
    
    <h3>Redes Sociales</h3>
    <section class="row">
      <article class="col-xs-12 col-md-6">
        <div class="fb-follow" data-href="https://www.facebook.com/gerlop1951" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
      </article>
    </section>
  </article>
</Default>